{
  "parser": "babel-eslint",
  "rules": {
    "linebreak-style": 0,
    "strict": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }]
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ]
}